<!DOCTYPE html>
<html>
<head>
    <title>Demand Forecast</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <h2>Demand Forecast</h2>

    <div class="alert alert-success">

        <h3>Predicted Demand</h3>

        <h1>{{ prediction }}</h1>

        <p>Units</p>

    </div>

    <img
        src="{{ url_for('static', filename='graphs/forecast.png') }}"
        class="img-fluid">

</div>

</body>
</html>