<!DOCTYPE html>
<html>

<head>

    <title>DemandIQ Stocks</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

    <h2 class="mb-4">Available Stocks</h2>

    <table class="table table-bordered table-hover shadow">

        <thead class="table-dark">

            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Symbol</th>
                <th>Sector</th>
                <th>Current Price</th>
            </tr>

        </thead>

        <tbody>

        {% for stock in stocks %}

        <tr>

            <td>{{ stock[0] }}</td>
            <td>{{ stock[1] }}</td>
            <td>{{ stock[2] }}</td>
            <td>{{ stock[3] }}</td>
            <td>₹ {{ stock[4] }}</td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

</body>

</html>